#logo {
	/* background: rgba(170, 68, 101, 0.125); */
	border-radius: 50%;
	cursor: -webkit-grab;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: pre;
}

h1 {
	font-size: 7rem;
	color: white;
	font-family: 'Chewy', cursive;
	letter-spacing: 4px;
	margin-top: 1rem;
	font-weight: lighter;
	background: linear-gradient(145deg, #e5b2ca, #7028e4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
